This is the login!

<a href="/pets">Go to the list</a>


<form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>

<button onclick="javascript:location.href='/protSociety/new'" type="button">Nueva Protectora</button>