<div class="h-screen w-auto overflow-y-hidden bg-brown font-poppins">
  <a class="flex justify-center" href="/">
    <img class="mt-14 w-3/4" src="/img/LOGO.png" alt="AdoptMe Logo" />
  </a>
  <div class="absolute flex justify-center">
    <img class="w-2/4" src="/img/PETS.png" alt="Pets AdoptMe" />
  </div>
  <div class="absolute mt-130 flex w-screen justify-center">
    <p class="mx-4 mt-[140px] text-start text-5xl font-extralight text-brown">
      Genial<br />
      <span class="font-bold">¡Bienvenido!</span>
    </p>
  </div>

  <div class="absolute mt-400 w-screen">

    <form class="w-full max-w-sm" action="/login" method="POST">
      <div class="mx-8 flex items-center border-b border-brown">
        <img class="h-auto w-5" src="/img/MAIL_ICON.png" alt="e-mail" />
        <label for="email"></label>
        <input
          class="mr-3 w-full appearance-none border-none bg-transparent py-1 px-2 leading-tight text-brown placeholder-brown placeholder:opacity-50 focus:outline-none"
          name="email"
          type="email"
          id="email"
          placeholder="Email"
        />
      </div>

      <div class="mx-8 mt-6 flex items-center border-b border-brown">
        <img class="h-auto w-4" src="/img/PASS_ICON.png" alt="password" />
        <label for="password"></label>
        <input
          class="mr-3 w-full appearance-none border-none bg-transparent py-1 px-2 leading-tight text-brown placeholder-brown placeholder:opacity-50 focus:outline-none"
          name="password"
          type="password"
          id="password"
          placeholder="Contraseña"
        />
      </div>

      {{! <div class="mx-8 flex justify-between mt-3 items-center" >
          <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="w-11 h-6 bg-white peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-green after:content-[''] after:absolute after:top-[2px] after:left-[2px] peer-checked:after:bg-green after:bg-gray-300 after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-brown"></div>
            <span class=" text-brown ml-2 text-xs font-medium dark:text-gray-300">Recúerdame</span>
          </label>
          <p class="text-brown text-xs">¿Olvidaste la contraseña?</p>
        </div>   }}

      <div class="mt-14 flex justify-center">
        <button
          class="rounded-full bg-brown px-12 py-2 text-center text-sm font-semibold text-green hover:bg-brown focus:outline-none focus:ring-4 focus:ring-brown dark:focus:ring-yellow-900"
          onclick="javascript:location.href='/login'"
          type="submit"
        >Acceder</button>
      </div>
    </form>

    <div class="mt-4 flex justify-center text-xs">
      <p class="text-brown">¿No tienes cuenta?
        <button
          class="text-brown underline underline-offset-1 ml-2"
          onclick="javascript:location.href='/protSociety/new'"
          type="button"
        >Crea una aquí</button></p>
    </div>
    {{! <div class="flex justify-center">
      <p class="text-brown">or log in with</p>
    </div> }}
  </div>

  <div class="mt-130 h-4/5 rounded-t-3xl bg-green"></div>

</div>