<div class="h-screen w-auto overflow-y-hidden bg-brown text-green">
  <div class="flex items-center justify-center">
    <img class="absolute mt-24 w-1/6" src="/img/DOG.png" alt="Dog Logo" />
  </div>
  <h1 class="mt-[4.5rem] mb-6 text-center font-lobster text-4xl uppercase">NUEVA
    PROTECTORA</h1>

  <div class="absolute w-screen">
    <form action="/protSociety" method="POST">
      <div
        class="ml-[5.5rem] mt-4 flex h-48 w-6/12 items-center rounded-full border-[10px] border-brown"
      >
        <div
          class="m-1 flex h-40 w-40 items-center justify-center rounded-full bg-brown"
        >
          <img
            class="m-1 h-[9rem] rounded-full object-cover object-top text-center"
            src=""
            alt="image"
          />
        </div>
      </div>

      <div>
        <label
          class="font poppins align-start ml-6 flex w-64 text-2xl text-brown"
          for="name"
        >Nombre</label>
        <div
          class="mt-1 ml-3 flex w-11/12 items-center justify-start rounded-full bg-brown px-3 py-1 font-poppins text-sm font-medium text-green"
          {{! class="mt-1 ml-5 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown" }}
        >
          <img
            class="mr-2 h-4 w-4 text-green opacity-50"
            src="/img/USER_ICON_GREEN.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent placeholder-brown opacity-50 focus:outline-green"
            name="name"
            type="text"
            id="name"
            {{! placeholder="Nombre" }}
          />
        </div>
      </div>

      <div>
        <label
          class="font poppins align-start ml-6 mt-3 flex w-64 text-2xl text-brown"
          for="email"
        >Email</label>
        <div
          class="mt-1 ml-3 flex w-11/12 items-center justify-start rounded-full bg-brown px-3 py-1 font-poppins text-sm font-medium text-green"
          {{! class="mt-1 ml-5 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown" }}
        >
          <img
            class="mr-2 h-3 w-4 text-green opacity-50"
            src="/img/MAIL_ICON_GREEN.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent placeholder-brown opacity-50 focus:outline-green"
            name="email"
            type="email"
            id="email"
            {{! placeholder="Email" }}
          />
        </div>
      </div>

      <div>
        <label
          class="font poppins align-start ml-6 mt-3 flex w-64 text-2xl text-brown"
          for="location"
        >Localización</label>
        <div
          class="mt-1 ml-3 flex w-11/12 items-center justify-start rounded-full bg-brown px-3 py-1 font-poppins text-sm font-medium text-green"
          {{! class="mt-1 ml-5 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown" }}
        >
          <img
            class="mr-2 h-4 w-4 text-green opacity-50"
            src="/img/LOCATION_ICON_GREEN.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent placeholder-brown opacity-50 focus:outline-green"
            name="location"
            type="text"
            id="location"
            {{! placeholder="Localización" }}
          />
        </div>
      </div>

      <div>
        <label
          class="font poppins align-start ml-6 mt-3 flex w-64 text-2xl text-brown"
          for="website"
        >Página Web</label>
        <div
          class="mt-1 ml-3 flex w-11/12 items-center justify-start rounded-full bg-brown px-3 py-1 font-poppins text-sm font-medium text-green"
          {{! class="mt-1 ml-5 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown" }}
        >
          <img
            class="mr-2 h-3 w-4 text-green opacity-50"
            src="/img/MAIL_ICON_GREEN.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent placeholder-brown opacity-50 focus:outline-green"
            name="website"
            type="text"
            id="website"
            {{! placeholder="Página Web" }}
          />
        </div>
      </div>

      <div>
        <label
          class="font poppins align-start ml-6 mt-3 flex w-64 text-2xl text-brown"
          for="password"
        >Contraseña</label>
        <div
          class="mt-1 ml-3 flex w-11/12 items-center justify-start rounded-full bg-brown px-3 py-1 font-poppins text-sm font-medium text-green"
          {{! class="mt-1 ml-5 flex w-10/12 items-center justify-start border-b border-brown px-1 py-1 font-poppins text-sm font-medium text-brown" }}
        >
          <img
            class="mr-2 h-3 w-4 text-green opacity-50"
            src="/img/MAIL_ICON_GREEN.png"
            alt="user icon"
          />
          <input
            class="w-11/12 bg-transparent placeholder-brown opacity-50 focus:outline-green"
            name="password"
            type="password"
            id="password"
            {{! placeholder="Contraseña"  }}
          />
        </div>
      </div>

      <button
        class="mx-auto mt-8 block w-6/12 items-center rounded-full bg-brown px-3 py-1 text-center font-poppins text-lg font-medium text-green"
        type="submit"
      >Crear</button>
    </form>
  </div>

  <div class="h-screen rounded-t-3xl bg-green"></div>
</div>