<div class="h-screen w-auto overflow-y-hidden bg-brown font-poppins">
  <div class="flex justify-center">
    <img class="mt-14 w-3/4" src="/img/DOG.png" alt="Dog Logo" />
  </div>
  

  <div class="absolute mt-400 w-screen">
    <div>
      <form action="/protSociety" method="POST">
        <div>
          <label
            class="w-2/4 text-sm font-extralight text-brown"
            for="image"
          >Imagen</label>
          <input class="" name="image" type="text" id="image" />
        </div>
        <div>
          <label
            class="text-sm font-extralight text-brown"
            for="name"
          >Nombre</label>
          <input name="name" type="text" id="name" />
        </div>
        <div>
          <label
            class="text-sm font-extralight text-brown"
            for="email"
          >Email</label>
          <input name="email" type="email" id="email" />
        </div>
        <div>
          <label
            class="text-sm font-extralight text-brown"
            for="location"
          >Localización</label>
          <input name="location" type="text" id="location" />
        </div>
        <div>
          <label
            class="text-sm font-extralight text-brown"
            for="password"
          >Contraseña</label>
          <input name="password" type="password" id="password" />
        </div>
        <div>
          <label
            class="text-sm font-extralight text-brown"
            for="phone"
          >Teléfono</label>
          <input name="phone" type="text" id="phone" />
        </div>
        <div>
          <label
            class="text-sm font-extralight text-brown"
            for="webSite"
          >Página web</label>
          <input name="webSite" type="text" id="webSite" />
        </div>
        <button
          class="rounded-full bg-brown px-5 py-2.5 text-center text-sm font-bold text-red"
          type="submit"
        >Crear</button>
      </form>
      <div>
        <a href="">Nuevo animalito</a>
        <a href="">Consultar listado</a>
        <a href="">¡Adoptados!</a>
      </div>
    </div>
  </div>
  <div class="mt-130 h-screen rounded-t-3xl bg-green"></div>
</div>