<h1>Añade una nueva protectora</h1>


    <div>
        <form action="/protSociety" method="POST">
            <div>
                <label for="name">Nombre de la protectora</label>
                <input name="name" type="text" id="name">
            </div>

            <div>
                <label for="image">Imagen</label>
                <input name="image" type="text" id="image">
            </div>

             <div>
                <label for="location">Localización</label>
                <input name="location" type="text" id="location">
            </div>

            <div>
                <label for="email">Email</label>
                <input name="email" type="email" id="email">
            </div>

            <div>
                <label for="phone">Teléfono</label>
                <input name="phone" type="text" id="phone">
            </div>

            <div>
                <label for="webSite">Página web</label>
                <input name="webSite" type="text" id="webSite">
            </div>

            <div>
                <label for="password">Contraseña</label>
                <input name="password" type="password" id="password">
            </div>


            <button type="submit">Crear</button>
        </form>
    </div>

    <form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>