<h1>A침ade un nuevo peludito a la prote</h1>


    <div>
        <form action="/pets" method="POST">
            <div>
                <label for="name">Pet name</label>
                <input name="name" type="text" id="name">
            </div>

            <div>
                <label for="image">Pet image</label>
                <input name="image" type="text" id="image">
            </div>

             <div>
                <label for="class">Pet class</label>
                <input name="class" type="text" id="class">
            </div>

            <div>
                <label for="age">Pet age</label>
                <input name="age" type="text" id="age">
            </div>

            <div>
                <label for="sex">Pet sex</label>
                <input name="sex" type="text" id="sex">
            </div>

            <div>
                <label for="breed">Pet breed</label>
                <input name="breed" type="text" id="breed">
            </div>

            <div>
                <label for="energyLevel">Pet energy</label>
                <input name="energyLevel" type="text" id="energyLevel">
            </div>

            <div>
                <label for="healthStatus">Pet health</label>
                <input name="healthStatus" type="text" id="healthStatus">
            </div>

            <div>
                <label for="isAdopted">Estado de adopci칩n</label>
                <input name="isAdopted" type="checkbox" id="isAdopted">
            </div>

            <div>
                <label for="description">A침ade una descripci칩n</label>
                <input name="description" type="text" id="description">
            </div>
{{!-- 
            <div>
                <label for="protSociety">Nombre de la protectora</label>
                <input name="protSociety" type="text" id="protSociety">
            </div> --}}

            <button type="submit">Nuevo</button>
        </form>
    </div>

    <form>
 <input type="button" value="Go back!" onclick="history.back()">
</form>