<div class="bg-brown h-screen w-auto overflow-y-hidden font-poppins">
  <div class="flex justify-center">
    <img class="w-3/4 mt-14" src="/img/LOGO.png" alt="AdoptMe Logo" />
  </div>
  <div class="flex justify-center absolute">
    <img class="w-2/4" src="/img/PETS.png" alt="Pets AdoptMe"/>
  </div>
  <div class="w-screen absolute flex justify-center mt-130">
    <p class="text-brown text-5xl mt-130 text-center font-extralight"><span>Hola</span>,<br/><span class="font-black">¿quién eres?<span><p>
  </div>

  <div class="w-screen absolute mt-400">
    <div class="flex justify-around mt-7">
      <div class="flex justify-around absolute">
        <img class="w-1/5 h-full mt-3 ml-2" src="/img/DOG.png" alt="Dog">
        <img class="w-1/4 h-full ml-2" src="/img/ADOPTANTS.png" alt="Adoptants">
       </div>
        <div class=" bg-brown rounded-full w-24 h-24"></div>
        <div class=" bg-brown rounded-full w-24 h-24"></div>
    </div>
    <div class="flex justify-around mt-8">
        <button class="text-red bg-brown font-bold rounded-full text-sm px-5 py-2.5 text-center" onclick="javascript:location.href='/login'" type="button">Protectora</button>
        <button class="text-red bg-brown font-bold rounded-full text-sm px-5 py-2.5 text-center" onclick="javascript:location.href='/pets'" type="button">Adoptante</button>
    </div>
  </div>

  <div class="bg-green h-screen rounded-t-3xl mt-130"></div>
</div>