<div class="bg-brown h-screen w-auto">
  <div class="flex justify-center">
    <img class="w-3/4 mt-14" src="/img/LOGO.png" alt="AdoptMe Logo" />
  </div>
  <div class="flex justify-center absolute">
    <img class="w-2/4" src="/img/PETS.png" alt="Pets AdoptMe" />
  </div>
  <div class="w-screen absolute flex justify-center mt-130">
    <p class="text-brown font-extralight text-6xl mt-130 text-center">Hola,<br
      /><span class="font-bold">¿quién eres?</span></p>
  </div>
  <div class="w-screen absolute flex justify-center mt-400">
    <a class="bg-brown w-30 rounded text-center" href="/login">Protectora</a>
    <a href="/pets">Adoptante</a>
  </div>

  <div class="bg-green h-screen rounded-t-3xl mt-130">
  </div>
</div>